<footer>
  <div class="row">
    <div class="large-6 columns">
      <p>© Thupten N Chakrishar.</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><a href="#">About</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>