<section class="hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <h1>My Little Album</h1>
        <hr>
        <div class="row">
          <div class="large-6 columns large-centered">
            <ul class="button-group even-4">
              <li><a href="#" class="button">Home</a></li>
              <li><a href="#" class="button">About</a></li>
              <li><a href="#" class="button">Adopt</a></li>
              <li><a href="#" class="button">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

