<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>Filoxenia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor/animate.css">
    <link rel="stylesheet" href="css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="css/filoxenia.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/fastclick.js"></script>
</head>

<body>
    <header class="contain-to-grid">
        <div class="row">
            <div class="small-12 column">
                <nav class="top-bar" data-topbar role="navigation" data-options="back_text: <i class='fa fa-chevron-left'></i> Back; mobile_show_parent_link: false;">
                    <ul class="title-area">
                        <li class="name">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </li>
                        <li class="toggle-topbar menu-icon">
                            <a href="#"><span>Menu</span></a>
                        </li>
                    </ul>

                    <section class="top-bar-section">
                        <ul class="right">
                            <li class="has-dropdown active">
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>

                                    <li>
                                        <a href="support.html">Support</a>
                                    </li>

                                    <li class="active">
                                        <a href="login.html">Login</a>
                                    </li>

                                    <li>
                                        <a href="forgot-password.html">Forgot Password</a>
                                    </li>

                                    <li>
                                        <a href="404.html">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="plans.html">Plans &amp; Pricing</a>
                            </li>

                            <li>
                                <a href="features.html">Features</a>
                            </li>

                            <li>
                                <a href="about.html">About</a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>

                            <li class="has-form">
                                <a href="signup.html" class="button">Sign Up</a>
                            </li>
                        </ul>
                    </section>

                </nav>
            </div>
        </div>

    </header>

    <main>

        <div class="breadcrumb-container">
            <div class="row">
                <div class="large-12 column">
                    <nav class="breadcrumbs animated bounceInDown">
                        <a href="index.html">Home</a>
                        <a class="current" href="#">Log In</a>
                    </nav>
                </div>
            </div>
        </div>


        <section class="container">
            <form action="login.html" method="post">
                <div class="row title">
                    <div class="small-12 column">
                        <h6>Customer Login</h6>
                    </div>
                </div>


                <div class="row">
                    <div class="large-4 large-centered column">
                        <input id="email" name="email" type="text" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 large-centered column">
                        <input id="password" name="password" type="text" placeholder="Password">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 column text-center">
                        <button type="submit">Log In</button>
                    </div>
                </div>
            </form>

            <p class="text-center">
                <a href="forgot-password.html">Forgot Password?</a>
            </p>
        </section>

    </main>

    <footer>
        <div class="row spacy-s">
            <div class="large-6 column">
                <h4>About us</h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
                </p>

                <ul class="popup large-block-grid-5 medium-block-grid-5 small-block-grid-3">
                    <li>
                        <a href="images/photos/person1.jpg">
                            <img src="images/photos/person1_s.jpg" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="images/photos/person2.jpg">
                            <img src="images/photos/person2_s.jpg" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="images/photos/person3.jpg">
                            <img src="images/photos/person3_s.jpg" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="images/photos/person4.jpg">
                            <img src="images/photos/person4_s.jpg" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="images/photos/person5.jpg">
                            <img src="images/photos/person5_s.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="large-2 column">
                <h4>Services</h4>

                <ul class="side-nav">
                    <li>
                        <a href="plans.html">Plans &amp; Pricing</a>
                    </li>

                    <li>
                        <a href="blog.html">Our Blog</a>
                    </li>

                    <li>
                        <a href="about.html">About us</a>
                    </li>

                    <li>
                        <a href="support.html">Support</a>
                    </li>

                    <li>
                        <a href="terms.html">Terms of Service</a>
                    </li>

                    <li>
                        <a href="privacy.html">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="contact.html">Contact us</a>
                    </li>
                </ul>
            </div>

            <div class="large-4 column">
                <h4>Contact</h4>

                <div class="row">
                    <div class="large-3 small-2 column">
                        <h6>Address:</h6>
                    </div>

                    <div class="large-9 small-10 column">
                        <p>121 King Street, Melbourne Victoria 3000 Australia</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 small-2 column">
                        <h6>Phone:</h6>
                    </div>

                    <div class="large-9 small-10 column">
                        <p>+61 3 8376 6284
                            <br>+61 3 8376 6287</p>
                    </div>
                </div>

                <div class="row">
                    <div class="large-3 small-2 column">
                        <h6>Email:</h6>
                    </div>

                    <div class="large-9 small-10 column">
                        <p>
                            <a href="mailto:info@filoxenia.com">info@filoxenia.com</a>
                            <br>
                            <a href="mailto:info@filoxenia.com">support@filoxenia.com</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="large-12 column">
                <hr>
            </div>
        </div>

        <div class="row">
            <p class="medium-4 small-12 column copyright">
                Copyright &copy; 2014 Filoxenia
            </p>

            <p class="medium-8 small-12 column social">
                <a href="contact.html"><i class="fa fa-envelope"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
                <a href="//www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="//www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="//www.google.com/plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="//www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="skype:echo123?call" target="_blank"><i class="fa fa-skype"></i></a>
            </p>
        </div>

    </footer>

    <!-- Javascript -->
    <script>
        Modernizr.mq('(min-width:0)') || document.write('<script src="js/vendor/respond.js"><\/script>')
    </script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/jquery.fitvids.js"></script>
    <script src="js/vendor/jquery.magnific-popup.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/filoxenia.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>
